@import url(//font.elice.io/EliceDigitalBaeum.css);

html,
body {
  font-family: "Elice Digital Baeum", sans-serif;
  margin-left: 0%;
}

main {
  margin-left: 5%;
}

.center h2 {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 3px;
}

nav {
  background-color: skyblue;
}

nav > div {
  padding: 10px 10px 10px 20px;
  display: inline-block;
  justify-content: center;
}

nav > div > a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

img {
  border: 3px solid black;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 50px;
  margin-bottom: 10px;
}

h3 {
  font-size: 30px;
}

footer {
  padding: 50px 0px 20px 20px;
  font-size: 20px;
}

div.contain {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

ul li {
  font-size: 30px;
  margin: 10px 0px;
  list-style-type: square;
}

#youtube {
  animation-name: colorAni;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes colorAni {
  from {
    color: black;
    font-weight: bold;
  }

  to {
    color: red;
    font-weight: bold;
  }
}

@media (min-width: 500px) and (max-width: 1000px) {
  .center {
    text-align: center;
  }
  footer {
    text-align: center;
  }
  ul li {
    font-size: 15px;
  }
}
